
/* VARIABLES CSS */
/* El root es el selector padre */
:root{ 
    --colorPrimario:#EC111A;
    --colorSecundario:#082BA5;
    --colorTerciario:#007BDF;
    --colorTitulos:#282D31;
    ---colorParrafos:#53575A;
    --colorSombras:#282D31;
    --colorBlanco: #fff;
}
/* SELECTOR UNIVERSAL  */
*{
    padding: 0px;
    margin: 0px;
    box-sizing:border-box 10px;
}
body{
    background-color: #EC111A;
}

.titulo-1{
    color: var(--colorBlanco);
    font-weight: 700;
}

.titulo-2{
    color: var(--colorBlanco);
    font-weight: 400;
}

.titulo-3{
 color: var(--colorBlanco);
    font-weight: 600;
}

.parrafo{
    color: var(--colorBlanco);
    font-weight: 400;
}