/* El root es el selector padre */
:root{ 
    --colorPrimario:#EC111A;
    --colorSecundario:#082BA5;
    --colorTerciario:#007BDF;
    --colorTitulos:#282D31;
    ---colorParrafos:#53575A;
    --colorSombras:#282D31;
}
/* SELECTOR UNIVERSAL  */
*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
body{
    background-color: #fff;